//VARIABLES//

    //font color

    $primaryColor: hsl(212, 27%, 19%);
    $secondaryColor: hsl(0, 0%, 100%);
    $tertiaryColor: hsl(210, 4%, 67%);
    $quaternaryColor: hsl(168, 34%, 41%);

    //font family
    
    $primaryFont: 'Barlow', sans-serif;
    $secondaryFont: 'Fraunces', sans-serif;
